<div class="jumbotron center">
    <h1>나의 레시피에 오신것을 환영합니다</h1>
    <h2>
        루비 온 레일즈 튜토리얼 
    </h2>
    <%= link_to "회원가입", "", class:"btn btn-lg btn-success" %> 
</div>
<div class="row">
    <div class="col-lg-4">
        <h3 class="midrow">
            View Recipes as Guest User
        </h3>
        <h2 class="left">Browse and view recipes as a guest ans Sign up later</h2>
        <p><%= link_to "Browse Recipe Listing", "", class: "btn btn-warning btn-small" %> </p>
    </div>
    <div class="col-lg-4">
        <h3 class="midrow">
            View Recipes as Guest User
        </h3>
        <h2 class="left">Browse and view recipes as a guest ans Sign up later</h2>
        <p><%= link_to "Browse Recipe Listing", "", class: "btn btn-warning btn-small" %> </p>
    </div>
    <div class="col-lg-4">
        <h3 class="midrow">
            View Recipes as Guest User
        </h3>
        <h2 class="left">Browse and view recipes as a guest ans Sign up later</h2>
        <p><%= link_to "Browse Recipe Listing", "", class: "btn btn-warning btn-small" %> </p>
    </div>
    
</div>